.post-input-box {
    width: 60%;
    margin: 1rem auto;
}

.post-input {
    border: none;
    width: 90%;
    height: 30%;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 20px;
    background-color: #e8e8e8;
}

.post-button {
    border-radius: 20px;
    padding: 10px 0;
    font-size: 1rem;
    background-color: aliceblue;
    color: #3e7eff;
    transition: all.5s ease;
    width: 7rem;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.post-button:hover {
    background-color: rgb(191, 191, 191);
}